In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
usa_covid_data = pd.read_csv('../data/owid-covid-data.csv')

In [3]:
usa_covid_data = usa_covid_data.loc[usa_covid_data['location'] == 'United States']

In [4]:
usa_covid_data['Tdate'] = pd.to_datetime(usa_covid_data['date'])

In [5]:
usa_covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,Tdate
340969,USA,North America,United States,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2020-01-03
340970,USA,North America,United States,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2020-01-04
340971,USA,North America,United States,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,2.77,78.86,0.926,338289856.0,-2771.0,-4.41,-4.41,-8.248447,2020-01-05
340972,USA,North America,United States,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2020-01-06
340973,USA,North America,United States,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2020-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342399,USA,North America,United States,2023-12-03,103436829.0,NaN,NaN,1144877.0,NaN,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2023-12-03
342400,USA,North America,United States,2023-12-04,103436829.0,NaN,NaN,1144877.0,NaN,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2023-12-04
342401,USA,North America,United States,2023-12-05,103436829.0,NaN,NaN,1144877.0,NaN,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2023-12-05
342402,USA,North America,United States,2023-12-06,103436829.0,NaN,NaN,1144877.0,NaN,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2023-12-06
342403,USA,North America,United States,2023-12-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.77,78.86,0.926,338289856.0,NaN,NaN,NaN,NaN,2023-12-07

In [6]:
usa_covid_data = usa_covid_data.drop(['iso_code', 'continent', 'new_cases', 'new_cases_smoothed',
       'total_deaths', 'new_deaths', 'new_deaths_smoothed',
       'total_cases_per_million', 'new_cases_per_million',
        'total_deaths_per_million',
       'new_deaths_per_million', 'new_deaths_smoothed_per_million',
       'reproduction_rate', 'icu_patients', 'icu_patients_per_million',
       'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million', 'Tdate'], axis=1)

In [7]:
usa_covid_data = usa_covid_data.loc[(usa_covid_data['date'] >= '2020-04-01') & (usa_covid_data['date'] <= '2023-04-24')]

In [8]:
usa_covid_data

             location        date  total_cases  new_cases_smoothed_per_million
341058  United States  2020-04-01     188679.0                          53.477
341059  United States  2020-04-02     211939.0                          58.514
341060  United States  2020-04-03     240613.0                          64.662
341061  United States  2020-04-04     270403.0                          69.441
341062  United States  2020-04-05     302460.0                          74.387
...               ...         ...          ...                             ...
342172  United States  2023-04-20  103081453.0                          43.942
342173  United States  2023-04-21  103081453.0                          43.942
342174  United States  2023-04-22  103081453.0                          43.942
342175  United States  2023-04-23  103179920.0                          41.582
342176  United States  2023-04-24  103179920.0                          41.582

[1119 rows x 4 columns]

In [9]:
usa_covid_data.to_csv('../data/usa_covid_data2.csv')

In [10]:
mental_health_covid_df = pd.read_csv('../data/mental_health_covid_df.csv')

In [11]:
mental_health_covid_df

,Unnamed: 0,Indicator,Group,State_x,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,State_y,date,cases,state
0,0,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,18.6,AL,2020-04-23,5825,Alabama
1,1,Symptoms of Anxiety Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.6,AL,2020-04-23,5825,Alabama
2,2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,30.3,AL,2020-04-23,5825,Alabama
3,3,Symptoms of Depressive Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,19.2,AK,2020-04-23,338,Alaska
4,4,Symptoms of Anxiety Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,27.7,AK,2020-04-23,338,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,8563,Symptoms of Anxiety Disorder,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,22.4,WI,2023-03-29,2009729,Wisconsin
8564,8564,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.9,WI,2023-03-29,2009729,Wisconsin
8565,8565,Symptoms of Depressive Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,16.0,WY,2023-03-29,185800,Wyoming
8566,8566,Symptoms of Anxiety Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.6,WY,2023-03-29,185800,Wyoming
8567,8567,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,30.5,WY,2023-03-29,185800,Wyoming

In [12]:
new_mental_health_covid2_df = pd.merge(usa_covid_data, mental_health_covid_df, 
                               left_on = ['date'], right_on = ['Time Period Start Date'],
                               how = 'inner')

In [13]:
new_mental_health_covid2_df

,location,date_x,total_cases,new_cases_smoothed_per_million,Unnamed: 0,Indicator,Group,State_x,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,State_y,date_y,cases,state
0,United States,2020-04-23,824488.0,81.808,0,Symptoms of Depressive Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,18.6,AL,2020-04-23,5825,Alabama
1,United States,2020-04-23,824488.0,81.808,1,Symptoms of Anxiety Disorder,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,25.6,AL,2020-04-23,5825,Alabama
2,United States,2020-04-23,824488.0,81.808,2,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,Alabama,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,30.3,AL,2020-04-23,5825,Alabama
3,United States,2020-04-23,824488.0,81.808,3,Symptoms of Depressive Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,19.2,AK,2020-04-23,338,Alaska
4,United States,2020-04-23,824488.0,81.808,4,Symptoms of Anxiety Disorder,By State,Alaska,Alaska,1.0,1,"Apr 23 - May 5, 2020",2020-04-23,2020-05-05,27.7,AK,2020-04-23,338,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8563,United States,2023-03-29,102697566.0,64.597,8563,Symptoms of Anxiety Disorder,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,22.4,WI,2023-03-29,2009729,Wisconsin
8564,United States,2023-03-29,102697566.0,64.597,8564,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wisconsin,Wisconsin,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.9,WI,2023-03-29,2009729,Wisconsin
8565,United States,2023-03-29,102697566.0,64.597,8565,Symptoms of Depressive Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,16.0,WY,2023-03-29,185800,Wyoming
8566,United States,2023-03-29,102697566.0,64.597,8566,Symptoms of Anxiety Disorder,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,27.6,WY,2023-03-29,185800,Wyoming
8567,United States,2023-03-29,102697566.0,64.597,8567,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Wyoming,Wyoming,3.8,56,"Mar 29 - Apr 10, 2023",2023-03-29,2023-04-10,30.5,WY,2023-03-29,185800,Wyoming

In [15]:
new_mental_health_covid2_df.to_csv('../data/new_mental_health_covid2_df.csv')